.cart {
  max-width: 1200px;
  min-height: var(--view-height);
  margin-inline: auto;
  padding: var(--gap-size);
}

.empty-cart {
  background-color: var(--primary-product-bg);
  height: 150px;
  border-radius: 5px;
  padding: var(--gap-size);
  display: grid;
  place-content: center;
  text-align: center;
  margin-block: auto;
}

.cart-items {
  margin-block: var(--gap-size);
}

.cart-item {
  max-height: 300px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gap-size);
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--primary-product-bg);
  padding: var(--gap-size);
}

.cart-item .left-wrapper,
.cart-item .right-wrapper {
  display: flex;
  align-items: center;
}

.cart-item .right-wrapper {
  gap: 4em;
}

.cart-item .left-wrapper {
  gap: 10px;
}

.cart-item > .left-wrapper img {
  max-width: 100px;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.cart .cart-total {
  font-weight: 700;
}
