header {
  display: grid;

  background-color: #101010;
  height: 100vh;
  overflow: hidden;
}

.product-info {
  display: grid;
  gap: 1em;

  place-self: center center;
  z-index: 1;
  max-width: 400px;
  color: white;
  transform: translateX(-80%);
}

.product-new {
  text-transform: uppercase;
  letter-spacing: 0.625rem;
  color: #fafafa80;
  font-size: 0.9rem;
}

.product-name {
  font-size: 3.5rem;
  font-weight: 700;
}

.product-desc {
  max-width: 380px;
  color: #fafafa80;
}

.hero-img {
  width: 100%;
}

.product-info,
.hero-img {
  grid-row: 1;
  grid-column: 1;
}
