header {
  display: grid;

  background-color: #101010;
  height: var(--view-height);
  overflow: hidden;
}

.product-info {
  display: grid;
  gap: 1em;

  place-self: center center;
  z-index: 1;
  max-width: 400px;
  color: var(--secondary-text-clr);
  transform: translateX(-80%);
}

.product-new {
  text-transform: uppercase;
  letter-spacing: 0.625rem;
  color: #fafafa80;
  font-size: 0.9rem;
}

.product-name {
  font-size: 3.5rem;
  font-weight: 700;
}

.product-desc {
  max-width: 380px;
  color: #fafafa80;
}

.hero-img {
  width: 100%;
}

.product-info,
.hero-img {
  grid-row: 1;
  grid-column: 1;
}

.featured-categories-wrapper {
  padding-block: var(--gap-size);
}

.section-title,
.category-title-wrapper > p {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.section-title {
  margin-block: var(--gap-size);
  text-align: center;
}

.featured-categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.8fr));
  gap: var(--gap-size);
  justify-content: center;
}

.featured-category {
  min-height: 300px;
  overflow: hidden;
  text-decoration: none;

  display: grid;
  place-content: center;
}

.featured-category > img {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: -1;
}

.category-title-wrapper {
  display: grid;
  place-content: center;

  background-color: rgba(0, 0, 0, 0.2);
}

.category-title-wrapper > p {
  color: var(--secondary-text-clr);
}

.category-title-wrapper,
.featured-category > img {
  grid-area: 1 / 1 / 1 / 1;
}
