.nav-container,
.nav-links,
.nav-wrapper,
#nav {
  display: flex;
}

#nav {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #101010;
  padding-inline: 1rem;

  justify-content: center;
  align-items: center;
  z-index: 99;
}

.nav-wrapper {
  font-weight: 700;
  line-height: 1.5;
  width: min(1200px, 100%);
  height: var(--nav-height);
  margin-inline: auto;

  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-links {
  list-style: none;
  gap: 2.5em;
  font-size: 0.85rem;
  text-transform: uppercase;
}

.nav-link a {
  text-decoration: none;
  color: var(--secondary-text-clr);
  transition: 200ms ease-in-out;
}

.nav-link:hover a {
  color: var(--accent-color);
}

.cart-nav::after {
  content: attr(data-items);
  margin-inline: 5px;
}

.cart-btn:hover #cart > path {
  fill: var(--accent-color);
}
