.store,
.categories-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-size);
}

.store {
  max-width: 1200px;
  padding: var(--gap-size);
  margin-inline: auto;
}

.categories-wrapper {
  padding-inline: 1em;
}

.categories-wrapper,
.item {
  flex-direction: column;
}

.item {
  background-color: var(--primary-product-bg);
  padding: var(--gap-size);
  border-radius: 8px;
  overflow: hidden;

  display: grid;
}

.item > button,
.item > .quant-wrapper {
  place-self: end center;
}

.prod-details,
.prod-details > p {
  margin-block: 8px;
}

.prod-details {
  text-align: center;
}

.categories-wrapper {
  position: sticky;
  top: 80px;
}

.quant-wrapper {
  display: flex;
  gap: var(--gap-size);
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  flex: 1;
  gap: 1em;
}

label {
  display: flex;
  gap: 5px;
}
